// Copyright 2021 Manna Harbour
// https://github.com/manna-harbour/miryoku

#include "../miryoku/custom_config.h"
#include "../miryoku/mapping/42/corne.h"
#include "../miryoku/miryoku.dtsi"

/ {
    
    combos {
        compatible = "zmk,combos";
        
        // Ctrl + з → х
        combo_ctrl_p {
            bindings = <&ctrl_p_kh>;
            key-positions = <16 9>;  // позиция Ctrl (16) + позиция P (9)
            timeout-ms = <30>;
            require-prior-idle-ms = <0>;
        };
        
        // Ctrl + ь → ъ  
        combo_ctrl_m {
            bindings = <&ctrl_m_hard>;
            key-positions = <16 31>; // позиция Ctrl (16) + позиция M (31)
            timeout-ms = <30>;
            require-prior-idle-ms = <0>;
        };
        
        // Ctrl + ш → щ
        combo_ctrl_i {
            bindings = <&ctrl_i_shch>;
            key-positions = <16 8>;  // позиция Ctrl (16) + позиция I (8)
            timeout-ms = <30>;
            require-prior-idle-ms = <0>;
        };
        
        // Ctrl + е → ё
        combo_ctrl_t {
            bindings = <&ctrl_t_yo>;
            key-positions = <16 5>;  // позиция Ctrl (16) + позиция T (5)
            timeout-ms = <30>;
            require-prior-idle-ms = <0>;
        };
        
        // Ctrl + о → э
        combo_ctrl_j {
            bindings = <&ctrl_j_e>;
            key-positions = <16 19>; // позиция Ctrl (16) + позиция J (19)
            timeout-ms = <30>;
            require-prior-idle-ms = <0>;
        };
    };
};
