// Copyright 2021 Manna Harbour
// https://github.com/manna-harbour/miryoku

#include "../miryoku/custom_config.h"
#include "../miryoku/mapping/42/corne.h"
#include "../miryoku/miryoku.dtsi"

/ {
    combos {
        compatible = "zmk,combos";
        
        // LALT (S на позиции 14) + P = х
        combo_ha {
            timeout-ms = <50>;
            key-positions = <11 9>;
            bindings = <&kp LBKT>;
        };
        combo_haa {
            timeout-ms = <50>;
            key-positions = <18 9>;
            bindings = <&kp LBKT>;
        };
        
        // LALT (S на позиции 14) + M = ъ
        combo_hard {
            timeout-ms = <50>;
            key-positions = <14 31>;
            bindings = <&kp RBKT>;
        };
        
        // LALT (S на позиции 14) + I = щ
        combo_shcha {
            timeout-ms = <50>;
            key-positions = <14 8>;
            bindings = <&kp APOS>;
        };
        
        // LALT (S на позиции 14) + J = э
        combo_e {
            timeout-ms = <50>;
            key-positions = <14 19>;
            bindings = <&kp QUOT>;
        };
        
        // RALT (L на позиции 21) + T = ё
        combo_yo {
            timeout-ms = <50>;
            key-positions = <21 4>;
            bindings = <&kp GRAVE>;
        };
    };
};
